@using WebAppAspNetMvcDatabaseFirst.ViewModels;
@model ClientViewModel

<h3>Клиент</h3>

@using (Html.BeginForm("Edit", "Clients", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary();
    @Html.EditorForModel()
    <input type="submit" value="Сохранить" />
    @Html.ActionLink("Отменить", "Index", "Clients")
}